.add-package-form{
    background-color: aliceblue;
    width: 400px;
    
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    font-family: "calibri";
}
.add-package-form h1{
    margin-bottom: 20px;
}

.inp{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
}
.btn-save{
    width: 100%;
    background: #3498DB;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 1rem;
}
