
#show-item-selected{
    width: 90%;
    margin: 5rem auto;
}


.list-destinations-page{
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}







.item-destination-page{
    width: min(18rem);
    width: max(20rem);
    height: 20rem;
    margin: 2rem 0;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

/* BOX SELECTED */
.item-destination-page-selected{
    width: 100%;
    height: 25rem;
    margin: 2rem auto;
    display: flex;
}

.image-item-destination{
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    background-color: rgba(2, 191, 198, .8);
}
.image-item-destination-size{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 191, 198, .8);
}

.info-item-destination-selected{
    margin: 0 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.title-destination-selected{
    color: black;
}


/* BOX SELECTED */

.info-item-destination{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color:rgba(34, 118, 153, 0.6);
    border-radius: 1rem;
}

.info-item-destination:hover{
    background-color: rgba(2, 191, 198, .8);
}

.info-item-destination > div{
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
}

.title-destination{
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.buttons-destination > button{
    width: 40%;
    padding: 0.2rem 0 ;
    border-radius: 0.5rem;
    border: none;
    color:rgb(25, 35, 45);
    background-color: rgb(226, 177, 76);
    font-weight: bold;
}
