.detail-main-container{
    width: 90%;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    display: flex;
    margin: auto;
    justify-content: center;
}

.detail-container{
    background-color: white;
    width: 80%;
    padding-left: 1rem;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
}
.info .package-booked{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info .package-booked h3{
    padding-left: 2rem;
}
.client{
    display: flex;
    flex-direction: column;
}
.client .inp-client{
    width: 40%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
}
.people-num{
    width: 1.3rem;
    height: 1.3rem;

}
.additional{
    font-size: 1rem;

}
.form-package input[type=checkbox]{
    width: 1.3rem;
    height: 1.3rem;
}

.package-get{
    width: 30%;
    background: #3498DB;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 1rem;
}
