#filter-container{
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.filter-container-box{
    width: 100%;
    height: 100%;
    background-color:rgba(29, 47, 65, 0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.filter-container-box div{
    display: flex;
    flex-direction: column;
}
