#filter-area-container{
    width: 100%;
    background-color: rgb(25, 35, 45, 0.95);
    padding-top: 7rem;
}

#filter-area-used{
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    width: 90%;
    margin: auto;

}

.filter-area-used-inputs{
    display: flex;
    justify-content: space-around;
}


.filter-area-used-inputs div{
    display: flex;
    flex-direction: column;
    color: white;
}

.tag-data-entry{
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.data-entry-filter{
    width: 10rem;
    font-size: 1.1rem;
    padding: 0.2rem;
    border:solid var(--yellow) 1px;
    border-radius: 0.3rem;
}

#btn-filter-area{
    width: 10rem;
    border: solid yellow 2px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 1rem 0;
}


@media(max-width: 1200px) and (min-width: 650px){
    #filter-area-used{
        width: 100%;
        margin: auto;
    
    }

}

@media(max-width: 650px) and (min-width: 0px){
    #filter-area-used{
        border: solid 2px blue;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

    .filter-area-used-inputs{
        flex-direction: column;
        margin: auto;
    }
    
    .filter-area-used-inputs div{
        margin: 0.5rem auto;
        border: solid red 3px;
    }


}