

.footer-container{
    margin-top: 5rem;
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: rgb(41, 46, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.footer-logo{
    height: 60px;
    margin-bottom: 1rem;
    border-radius: 60%;
}


.footer-menu-container{
    color: #fff;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1,5rem;
    cursor: pointer;
    opacity: 0.5;
    list-style: none;
}


.menu-item:hover{
    opacity: 1;
}

.copyrigth-container{
    width: 100%;
    background-color: var(--blue);
    height: 1.5rem;
    text-align: center;
}
.copyrigth{
    color: #1f1e1e;
    opacity: 0.6;
    text-align: center;
}