
.box:hover{
    background-color: rgba(2, 191, 198, .8);
}

.top-area-home{
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 120px;
}
.top-area-home > h1{
    font-size: 3rem;
    color:rgb(226, 177, 76);
}

.top-area-home >p{
    color: white;
    width: 50%;
    margin: auto;
}

.top-area-home > button{
    color:rgb(226, 177, 76);
    background-color: rgb(25, 35, 45);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.6rem;
    border: none;
    font-weight: bold;
    margin: auto;
}


.top-area-home > button:hover{
    color:rgb(25, 35, 45);
    background-color: rgb(226, 177, 76);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.6rem;
    border: none;
}



.info-message{

    background-image: url("https://webredox.net/demo/wp/travol/wp-content/uploads/2022/07/15.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
}


.box-info-message{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5rem 0;
    text-align: right;
}

.box-info-message  h2, .box-info-message p{
    width: 50%;
    margin: 0 auto;
}

.box-info-message > h2{
    color:rgb(25, 35, 45); 
    font-size: 2rem;
}


.box-message-1{
    background-color: rgba(34, 118, 153, 0.6);
}

.box-message-2{
    background-color: rgba(6,65,75,0.8);
}






.destinations-container-home{
    width: 100%;
    height: auto;
    text-align: center;
    margin:2rem 0;
}

.destinations-container-home > h2, .destinations-container-home .popular-destination{
    display: inline-block;
    font-weight: bold;
    font-size: 3rem;
}

.popular-destination{
    color: rgb(2, 191, 198);
    margin: 2rem 0;
}


.list-destinations{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
    flex-wrap: wrap;
}


.box-destination{
    width: min(15rem);
    width: max(25rem); 
    height: 33rem;
    margin: 1rem auto;
    background-position: center center;
    background-size: cover;
    transition: 1s;
    border-radius: 1rem;
}

.box-destination:hover{
    background-position: center center;
    transform: scale(103%, 110%);
}

.box-destination-size{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1rem;
}

.box-destination-size > h2, .box-destination-size > button, .box-destination-size .destination-tag{
    position: absolute;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    color: white;
}

.destination-tag{
    font-weight: bold;
    transform: rotate(-90deg);
    background-color: rgba(49, 76, 89,0.7);
    right: -3rem;
    top: 5rem;
}

.box-destination-size > h2{
    background-color: rgba(49, 76, 89,0.7);
    /* background-color: rgba(2, 191, 198, .4); */
    bottom: 4rem;
    left: 2rem;
}

.box-destination-size > button{
    background-color:rgb(226, 177, 76);
    border: none;
    bottom: 1rem;
    left: 2rem;
}








.packages-container-home{
    width: 100%;
    background-color: rgb(25, 35, 45); 
    margin: 5rem 0;
    padding: 2rem 0;
    text-align:center;
}

.packages-container-home > h2{
    color: rgb(226, 177, 76);
    font-size: 3rem;
    margin: 2rem;
}

.packages-container-home .description-package-home{
    width: 50%;
    margin: 2rem auto;
    color: white;
}

.packages-container-home > a{
    color: black;
    width: 10rem;
    background-color: rgb(226, 177, 76 );
    padding: 0.2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 4rem;
}

.list-packages-home{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-package-home{
    width: min(30rem);
    width: max(40rem);
    height: 20rem;
    background-size:cover;
    background-position: center;
    border-radius: 1rem;
    margin: 1rem 0;
}

.box-package-size{
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: relative;
    background-color: rgba(11, 92, 92, 0.8);
}

.box-package-size > h3, .box-package-size > p, .box-package-size > button{
    position: absolute;
}

.box-package-size > h3{
    font-size: 1.5rem;
    bottom: 5rem;
    left: 2rem;
}

.box-package-size .price-package{
    bottom: 2rem;
    left: 10rem;
}

.box-package-size .available-package{
    bottom: 2rem;
    left: 2rem;
    padding: 0 2rem 0 0;
    border-right: solid rgb(226, 177, 76 ) 3px;
}

.box-package-size .country-package{
    top: 2rem;
    left: 2rem;
}

.box-package-size > button{
    bottom: 2rem;
    right: 1rem;
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.box-package-size > button:hover{
    color: rgb(226, 177, 76 );
    background-color: rgb(25, 35, 45); 
}


.box-package-size:hover{
    box-shadow: 2px 2px 10px 10px rgba(2, 191, 198, 0.4);
}








.extra-info{
    width: 100%;
    height: 50vh;
    background-image: url("https://cdn.pixabay.com/photo/2018/11/25/01/41/europe-night-map-3836707_960_720.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    margin:10vh 0;
}


.extra-info-size{
    width: 100%;
    height: 100%;
    background-color: rgba(25, 35, 45, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.fa-solid{
    font-size: 2rem;
}

.number-extra-info{
    padding: 1rem;

}


@media(max-width: 1200px) and (min-width: 500px){
.top-area-home{
        padding: 100px 0 0 0;
    }

.top-area-home > h1{
    font-size: 4rem;

}

.top-area-home >p{
    width: 90%;
}

.top-area-home > button{
    font-size: 1.5rem;
    padding: 0.8rem;
}

.box-info-message h2{
    text-align: center;
}

.box-info-message p{
    display: none;
}

}


@media(max-width: 500px) and (min-width: 0px){
    .top-area-home{
            padding: 100px 0 0 0;
        }
    
    .top-area-home > h1{
        font-size: 2.5rem;
    
    }
    
    .top-area-home >p{
        width: 90%;
    }
    
    .top-area-home > button{
        font-size: 1.5rem;
        padding: 0.8rem;
    }
    
    .info-message{
        flex-direction: column;
    }

    .box-info-message {
        width: 100%;
    }

    .box-info-message h2{
        text-align: center;
        font-size: 2rem;
    }
    
    .box-info-message p{
        display: none;
    }

    .box-package-size > button{
        top: 2rem;
        height: 2rem;
        right: 1rem;
    }
    
    .extra-info{
        height: 100vh;
        color: white;
        margin:10vh 0;
    }
    
    
    .extra-info-size{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }




    
    }
    

