
  body {
      font-family:Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-size: 100%;
      color: #1b262c; 
      background-color: #fcfcfc;
  }
  
  #contenedor {

      display: flex;
      align-items: center;
      justify-content: center;
      /* margin: 0;
      padding: 0; */
      padding: 10rem 0;
      width: 100%;
      height: 100%;
  }
  
  #central {
      max-width: 320px;
      width: 100%;
  }
  
  .titulo {
      font-size: 250%;
      color:var(--yellow);
      text-align: center;
      margin-bottom: 20px;
  }
  
  #login {
      width: 100%;
      padding: 50px 30px;
      background-color: var(--blue);
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.35);
      border-radius: 10px;
      box-sizing: border-box;
  }
  
  #login input {
      font-family: 'Overpass', sans-serif;
      font-size: 110%;
      color: #1b262c;
      display: block;
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      padding: 5px 5px 5px 10px;
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
  }
  
  #login input::placeholder {
      font-family: 'Overpass', sans-serif;
      color: #c5c0c0;
  }
  
  #login button {
      font-family: 'Overpass', sans-serif;
      font-size: 110%;
      color:#1b262c;
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 3px;
      background-color: #bbe1fa;
      margin-top: 10px;
  }
  
  #login button:hover {
      background-color: #0f4c75;
      color:#bbe1fa;
  }
  
  
  