:root {
    --darkblue: rgb(25, 35, 45, 0.95);
    --blue: #3498DB;
    --yellow: rgb(226, 177, 76);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


a{
    outline: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

li{
    list-style:none;
}


.filter-zone{
    height: 20%;
    padding: 5rem;
}


#btn-salir{
    display:inline-block;
    background-color: var(--yellow);
    color: var(--darkblue);
    font-size: 1.5rem;
    border: none;
    border-radius: 0.3rem;
    width: 10rem;
    height: auto;
}
