.ocultar-modal{
    z-index: -11;
    display: none;
}


#modal-packages-form , #modal-create-packages-form{
    background-color: rgb(25, 35, 45, 0.5);
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 11;
}

#container-form-package-detail{
    /* border: blue 3px solid; */
    margin: auto;
    width: 80%;
    height: 100%;
}

#btn-cerrar-modal , #btn-cerrar-modal-create{
    color: var(--yellow);
    font-weight: bolder;
    font-size: 2rem;
    width:3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0,0.0);
    border: solid var(--yellow) 2px;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.btn-insert-package{
    color: var(--yellow);
    font-weight: bolder;
    font-size: 2rem;
    width:15rem;
    height: 3rem;
    background-color: rgba(0, 0, 0,0.0);
    border: solid var(--yellow) 2px;
    position: absolute;
    bottom: 2rem;
    left: 40%;
    background-color: var(--darkblue);
}