.nav-container{
    background: var(--darkblue);
    height: 80px;
    width: 100%;
    position:fixed;
    z-index: 10;
}
.nav-logo{
    position: absolute;
    padding: 10px 50px;
    display: flex;
}
.nav-logo .nav-img{
    border-radius: 50px;
    height: 60px;
}
.nav-logo .nav-title-logo{
    padding: 15px;
    color:  var(--yellow);
}

.nav-container .nav-items{
    float: right;
    margin-right: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.nav-container .nav-items .nav-item{
    display: inline-block;
    line-height: 80px;
    align-items: center;
}
.nav-container .nav-items .nav-item a{
    color: aliceblue;
    font-size: 18px;
    padding: 0px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.nav-items .nav-item a.active,.nav-items .nav-item a:hover{
    background-color: #ffff;
    color: var(--blue);
    transition: .5s;
    box-shadow: 11px 11px 6px rgba(0, 0, 0, 0.5);
}

.nav-checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width: 952px){
    .nav-logo{
        padding-left: 20px;
    }
    .nav-logo .nav-title-logo{
        font-size: 16px;
    }
    .nav-img{
        height: 50px;
    }
    .nav-container .nav-items .nav-item .nav-link{
        font-size: 16px;
    }

}
@media(max-width: 858px){
    .nav-checkbtn{
        display: block;
    }
    .nav-items{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .nav-container .nav-items .nav-item{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .nav-container .nav-items .nav-item .nav-link{
        font-size: 20px;
    }
    .nav-item a.hover, .nav-item a.active{
        background: none;
        color: red;
    }
    #check:checked ~.nav-items{
        left: 0;
    }
}