.packages-box {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.package{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    border-color: solid black;
    font-size: 1rem;
    border-color: var(--blue);
    border-style: solid;
    border-width: .1px;
}
.package:hover{
    transition: traslateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.package .package-wall{
    width: 330px;
    height: 220px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.package .package-wall .package-img{
    width: 100%;
    height: 220px;
    position: absolute;
    left: 0;
}

.package .package-name{
    color: white;
    font-size: 1.4rem;
    background-color: rgba(26, 25, 25, 0.7);
}

.package .package-country{
    text-align: left;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    color: var(--blue);

}
.package .package-wall .package-days{
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    padding: 0 0.5rem ;
    background-color: rgba(26, 25, 25, 0.7);
    border-radius: 0.5rem;
}

.package .package-price{
    position: absolute;
    top: 0px;
    padding: 0.2rem;
    font-size: 1rem;
    font-family:  'Fraunces', serif;
    font-weight: bold;
    right: 0px;
    background-color: var(--yellow);
    border-radius: 0.5rem;
}
.package .package-get{
    width: 100%;
    margin-top: 1rem;
    border-radius: 8px;
    color: white;
    background-color: var(--blue);
    font-size: 1.5rem;
}
.package-guide{
    padding-top: 1rem;
}

.filter-btns{
    text-align: center;
    padding-top: 1rem;
}



#area-btn-add-packages button{
    display: block;
    width: 20rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    margin: 2rem auto;
    background-color:rgb(20, 170, 189);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}