
.form-report{
    display:flex;
    justify-content: space-around;
    width: 60%;
    padding:3rem 3rem;
    margin: 1rem auto;
    border: solid rgba(40, 134, 174, 0.996) 3px;
    border-radius: 20px;

}
#cabecera{
    height: 10rem;
}
.select-data-report{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* AREA DATA */
#data-report{
    border: solid rgb(149, 149, 153) 2px;
    height: minmax(500px, auto);
    width: 100%;
    text-align: left;
}

.container-headers-report{
    margin: 20px auto;
    width: 100%;
    padding:0.2rem 0px; 
    font-size: 1.5rem;
    border: solid rgb(46, 108, 142) 3px;
    border-radius: 1rem;
    font-weight: bold;

    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns:repeat(8, minmax(200px, 500px));
}



/* Row data elements */
.row-data{
    border: solid rgb(22, 96, 111) 3px;
    border-radius: 1rem;
    width: 100%;
    padding:0.2rem 0px; 
    font-size: 1.2rem;
    text-align: left;
    background-color: rgba(119, 122, 123, 0.3);
    
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns:repeat(8, minmax(200px, 500px));
}


.row-data-even{
    background-color: rgb(255, 255, 255);
}

/* Button report */
#btn-print-report, #btn-getdata-report{
    display: block;
    margin: 1rem auto;
    padding: 15px;
    font-size: 1rem;
    text-align: center;
    width: 200px;
    border: none;
    background-color: rgb(7, 75, 118);
    border-radius: 10px;
    color: white;
}



